body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "header header"
    "nav nav"
    "section section"
    "aside aside"
    "footer footer";
  grid-gap: 0.3em 0.5em
}

@media screen and (min-width:600px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
      "nav nav"
      "section aside"
      "footer footer"
  }
}

@media screen and (max-width: 600px) {
  .bannernav a {
    display: none;
  }
  .bannernav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .bannernav.responsive {position: relative;}
  .bannernav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .bannernav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

header {
  grid-area: header;
}

nav {
  background-color: black;
  grid-area: nav;
}

section {
  grid-area: section;
}

article {
  background-color: lightblue;
  grid-area: article;
}

aside {
  background-color: lightblue;
  grid-area: aside;
}

footer {
  grid-area: footer;
  background-color: lightblue;
}
